<div class="d-flex" style="margin-right: 30px; ">
    <button class="btn btn-outline-success sup" type="submit" style="background-color:white;;border-color: white !important; "><a href="/account/login" style="text-decoration: none; color: #07073B;">Sign In</a></button>
    &nbsp; &nbsp; &nbsp;<button class="btn btn-outline-success sup" type="submit" style="border-color: white !important; "><a href="/account/register" style="text-decoration: none; color: white;">Sign Up</a></button>
</div>
