@using GraduateProject.httpModels.webAppModels
@model CreateTaskModel
@{
    var title=ViewBag.taskID!=null?"Result" :"Upload X-Ray Image";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/lib/tailwind/dist/tailwind.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/lib/alpine/dist/apline.min.js"></script>
</head>
<body>
<div class="py-20 h-screen bg-gray-300 px-2" style="background-color:#07073B !important ;">
    <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden md:max-w-lg">
        <div class="md:flex">
            <div class="w-full">


                <div class="p-4 border-b-2">

                    <span class="text-lg font-bold text-gray-600" >@title</span>

                </div>
     <div id="message">

                            @{
                                if (ViewBag.Message != null)
                                {
                                    <span class="alert alert-danger" style="display: flex">@ViewBag.Message</span>
                                }else if (ViewBag.SuccessMessage != null)
                                {
                                    <span class="alert alert-success" style="display: flex">@ViewBag.SuccessMessage</span>
                                    
                                }else{
                <form asp-action="Create" asp-controller="WebTask" method="post" enctype="multipart/form-data">
                <div class="p-3">
                    
                        <div class="mb-2">
                            <span>Attachments</span>
                       
                            </div>
                            <div class="relative h-40 rounded-lg border-dashed border-2 border-gray-200 bg-white flex justify-center items-center hover:cursor-pointer">
                                <div class="absolute">
                                    <div class="flex flex-col items-center ">
                                        <i class="fa fa-cloud-upload fa-3x text-gray-200"></i>
                                        <span class="block text-gray-400 font-normal">Attach you files here</span>
                                        <span class="block text-gray-400 font-normal">or</span>

                                        <span class="block text-blue-400 font-normal">Browse files</span>

                                    </div>
                                </div>

                                <input type="file" class="h-full w-full opacity-0" asp-for="File">
                            </div>
                            <div class="flex justify-between items-center text-gray-400">
                                <span>Accepted file types: .png,.jpg,.gif only</span>
                                <span class="flex items-center "><i class="fa fa-lock mr-1"></i> secure</span>
                            </div>
                        </div>

                        <div class="mt-3 text-center pb-3">

                            <input type="submit" value="Upload & Create Task" class="w-full h-12 text-lg w-32 bg-blue-600 rounded text-white hover:bg-blue-700" style="background-color: #07073B !important;">

                        </div>

                    </form>                    
                                }
                                    
                            }
                
                </div>


            </div>
        </div>
  
      @{
        if(ViewBag.SuccessMessage!=null){
            <a asp-controller="WebTask" asp-action="Create" style="display: flex;">Detect Another X-ray</a>
        }
    }
    </div>

</div>
@{
    if(ViewBag.SuccessMessage!=null){
        <script>
            let message=document.getElementById("message");
        let sessionToken="@ViewBag.sessionToken";  
           var timer= setInterval(()=>{
            var id=@ViewBag.taskID;
            let xhr = new XMLHttpRequest();
         
            xhr.open("post", "/api/task/CheckState/"+id);
               xhr.setRequestHeader("Content-Type","application/json");
            xhr.send(JSON.stringify({'sessionToken':sessionToken}));
            xhr.onload=function(){
                let result = JSON.parse(xhr.response);
               console.log(result);
                let success=result["isSuccess"];
                
                if(!success){
                    message.innerHTML="<span class=\"alert alert-danger\">"+result["message"]+"</span>";
                    clearInterval(timer);
                }else{
                    result=result["result"];
                    if(result['currentState']==2){
                        message.innerHTML="<span class=\"alert alert-success\" style=\"display: flex\">"+"Detection Done: "+result["age"]+" Months, In years: "+(result["age"]/12).toFixed(1) +"</span>";
                    clearInterval(timer);
                    }else{
                        message.innerHTML="<span class=\"alert alert-info\" style=\"display: flex\">"+"Please Wait"+"</span>";
                        console.log("Waiting");
                    }
                    
                   
                    
                }

            };
            },5000)
            
        </script>
    }
}
</body>
</html>